input {
	border: 1px solid #999;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.25) inset;
	padding: 2px 5px;
}

input:focus {
	border-color: #35861B;
	box-shadow: 0 0 5px #35861B, 2px 2px 2px rgba(0,0,0, 0.25) inset;
	outline: none;
}